{{#paper-item class="md-3-line"}}
  <img src={{pod.avatar}} class="md-avatar">
  <div class="md-list-item-text">
    <h2>{{{pod.podcast.title}}} - {{{pod.title}}}</h2>
    <h3>{{{pod.publishedDate}}}</h3>
    <p class="pod-description">{{{pod.shortDescription}}}</p>
  </div>
  <div class="md-list-item-right">
    {{#unless pod.isDownloaded}}
      {{#if pod.isDownloading}}
        <div class="loading-linear">
        {{paper-progress-linear value=pod.downloadPercentage}}
        </div>
      {{else}}
        {{#paper-button param=pod action=(perform pod.download) raised=true primary=true }}Save{{/paper-button}}
      {{/if}}
    {{else}}
        {{#paper-button param=pod action="deleteAudio" raised=true primary=true }}Delete Audio{{/paper-button}}
    {{/unless}}
    {{#paper-button param=pod action="playPod" raised=true primary=true}}Play{{/paper-button}}
  </div>
{{/paper-item}}
{{paper-divider inset=true}}
